*{
    list-style-type: none;
    padding: 0;
    margin: 0;

}
body{
    font-family: 'Amiri', serif;
}
p{
    padding: 10px;
}


.ul-menu{

    background-color: #333;
     color: #ffffff;
     
     overflow: hidden;
     text-align: center;
     
}

.li-menu{
    float:right;

}


.a-menu{
text-decoration: none;
color: #ffffff;
font-size: 20px;
display: block;
padding: 18;

}
.li-menu a:hover{
    background-color: #000;
}
.title-menu{
    font-size: 40px;
    display: inline;
    padding: 15;
    text-align: center;
}
.colum{
    width: 50%; 
    float: left;
    text-align: center;
}
.profile{
    width: 200px;
    height: 200px;
    border-radius: 200px;
}
.social{
    width: 25px;
    padding: 5px;
}
.left{
    width: 20%;
    float: left;

}
.right{
    width: 80%;
    float: right;

}
.row{
    padding: 5px;
}
.row::after{
    display: table;
    clear: both;
    content:"";
}
.main-bar{
    background-color: grey;
    display: block;
    height: 25px;
    
}
.main-bar span{
    background-color: teal;

    display: block;
    height: 25px;
    color:white;
}
.java{
    width: 65%;
    animation: java 3s;
}
.html{
    width: 85%;
    animation: html 3s;
}
.css{
    width: 80%;
    animation: css 3s;
}
.Photoshop{
    width: 70%;
    animation: Photoshop 3s;

}
.Illustrator{
    width: 66%;
    animation: Illustrator 3s;
}
.AfterEffects{
    width: 65%;
    animation: AfterEffects 3s;
}
.Premiere{
    width: 60%;
    animation: Premiere 3s;
}
@keyframes java {
    0%{
        width: 0%;
       background-color: thistle;

    }
    100%{
        width: 65%;
        border: turquoise;

    }
}
@keyframes html {
    0%{
        width: 0%;
        background-color: thistle;


    }
    100%{
        width: 85%;
        border: turquoise;
    }
}
@keyframes css {
    0%{
        width: 0%;
        background-color: thistle;

    }
    100%{
        width: 80%;
        border: turquoise;
    }
}
@keyframes Photoshop {
    0%{
        width: 0%;
        background-color: thistle;

    }
    100%{
        width: 70%;
        border: turquoise;
    }
}
@keyframes Illustrator {
    0%{
        width: 0%;
        background-color: thistle;

    }
    100%{
        width: 66%;
        border: turquoise;
    }
}
@keyframes AfterEffects {
    0%{
        width: 0%;
        background-color: thistle;

    }
    100%{
        width: 65%;
        border: turquoise;
    }

}
@keyframes Premiere {
    0%{
        width: 0%;
        background-color: thistle;

    }
    100%{
        width: 60%;
        border: turquoise;
    }
    
}
.footer{
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10;
}
.project{
    width: 300px;
    float: right;
}
.project img {
    width: 180px;
    height: 100px;

}
@media screen and (max-width:800px) {
    .colum{
        width: 100%;
    }
    header .logo img.big-logo {
        width: 210px;
    }
    
    
}
